################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WORKAROUND.TXT
*.nupkg
/ProjectTemplates/dotnet-new-harmonydemo-synergy/regen_last.bat
/ProjectTemplates/dotnet-new-harmonydemo-synergy/Publish.Settings.bat
/ProjectTemplates/dotnet-new-harmonycore-synergy/Publish.Settings.bat
