#!/bin/bash

if [ "${BASH_SOURCE[0]}" -ef "$0" ]; then
    echo "ERROR: This script must be sourced not executed!"
    return 2> /dev/null; exit
fi

# Make sure we have a Synergy environment

if [ -z "$SDE" ]; then
    echo "ERROR: No Synergy environment! Source setsde before running this script."
    return 2> /dev/null; exit
fi

# If your code requires Synergy Runtime Options, set them here
# export DBLOPT=

# This is one place you can set any environment variables your code needs
export DAT=./SampleData

# Setup the ASP.NET environment

export ASPNETCORE_HTTP_PORT=8085
export ASPNETCORE_HTTPS_PORT=8086
